[submodule "cookbooks/chef-client"]
	path = cookbooks/chef-client
	url = git@github.com:chef-cookbooks/chef-client.git
[submodule "cookbooks/chocolatey"]
	path = cookbooks/chocolatey
	url = git@github.com:chocolatey/chocolatey-cookbook.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git@github.com:chef-cookbooks/windows.git
[submodule "cookbooks/powershell"]
	path = cookbooks/powershell
	url = git@github.com:chef-cookbooks/powershell.git
[submodule "cookbooks/ms_dotnet"]
	path = cookbooks/ms_dotnet
	url = git@github.com:criteo-cookbooks/ms_dotnet.git
